// index/dashboard page
//-----------------------------------------------------------------------------------

.container{
    @media (min-width: 1290px){
        width: 1260px;
    }
    @media (min-width: 1390px){
        width: 1360px;
    }
    @media (min-width: 1490px){
        width: 1460px;
    }
}
.main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/bg.jpg) center center no-repeat;
    background-size: cover;
    min-height: 100%;
    box-sizing: border-box;
    padding: 20px;
}
.modal{
    background-color: #fff;
    padding: 40px 50px 48px;
    box-sizing: border-box;
    width: 700px;
    max-width: 100%;
    border: 1px solid #979797;
    border-radius: 3px;
    height: 513px;
    display: none;
    @media (max-width: 767px){
        height: auto;
        padding: 39px 24px 48px;
    }
    &.modal-first{
        display: block;
    }
    &.msg-modal{
        width: 590px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 350px;
        padding: 40px 40px 48px;
        @media (max-width: 767px){
            height: auto;
            padding: 39px 24px 48px;
        }
        .modal-text{
            width: 328px;
            max-width: 100%;
            margin: 0 auto 18px;
        }
    }
    &.mod-progress{
        width: 450px;
        height: 310px;
        @media (max-width: 767px){
            height: auto;
        }
        .modal-name{
            margin-bottom: 18px;
        }
    }
    &.mod-second{
        .modal-text{
            width: 100%;
            margin-bottom: 70px;
        }
        .modal-name{
            margin-bottom: 64px;
        }
    }
    &.mod-third{
        .modal-name{
            margin-bottom: 53px;
            @media (max-width: 767px){
                margin-bottom: 20px;
            }
        }
        .next-btn{
            margin-top: 50px;
            @media (max-width: 767px) {
                margin-top: 12px;
            }
        }
    }
    &.mod-forth{
        .modal-name{
            margin-bottom: 20px;
        }
        .next-btn{
            margin-top: 80px;
            @media (max-width: 767px) {
                margin-top: 12px;
            }
        }
    }
    &.mod-fiveth{
        .modal-name{
            margin-bottom: 54px;
            @media (max-width: 767px){
                margin-bottom: 20px;
            }
        }
        .next-btn{
            margin-top: 50px;
            @media (max-width: 767px) {
                margin-top: 12px;
            }
        }
    }
    &.mod-seventh{
        width: 772px;
        height: 513px;
        @media (max-width: 767px){
            height: auto;
        }
        .modal-name{
            margin-bottom: 54px;
            @media (max-width: 767px){
                margin-bottom: 20px;
            }
        }
        .modal-row-left{
            width: 316px;
        }
        .modal-row-right{
            width: calc(100% - 316px);
            @media (max-width: 767px) {
                width: 100%;
            }
        }
        .modal-text{
            margin-bottom: 0;
        }
        .next-btn{
            margin-top: 47px;
        }
        .last-btn{
            animation: scale;
            animation-duration: 3s;
            animation-iteration-count: infinite;
        }
    }
}
@keyframes scale {
    0%   {transform: scale(1)}
    50%   {transform: scale(1.05)}
    100%   {transform: scale(1)}
}
.modal-name{
    font-size: 32px;
    line-height: 37px;
    font-family: $MMTextProWebTT;
    letter-spacing: 0.228572px;
    color: #201D1D;
    text-align: center;
    margin-bottom: 40px;
    &.mod-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        svg{
            margin-right: 11px;
        }
    }
}
.input{
    display: block;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 3px;
    width: 350px;
    max-width: 100%;
    height: 56px;
    margin: 0 auto 34px;
    font-family: $MMTextProWebTT;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.257143px;
    color: #000000;
}
.modal-text{
    font-family: $SansPro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #000000;
}
.next-btn{
    background: #DF0000;
    border-radius: 3px;
    width: 350px;
    height: 40px;
    font-family: $MMTextProWebTT;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.114286px;
    color: #FFFFFF;
    margin: 0 auto;
    display: block;
    max-width: 100%;
}
.selected-item-text{
    margin-bottom: 12px;
    font-family: $MMTextProWebTT;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.114286px;
    color: #1F1D1D;
}
.modal-row{
    display: flex;
    justify-content: center;
    align-items: stretch;
    @media (max-width: 767px) {
        flex-direction: column;
    }
}
.modal-row-left{
    width: 50%;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
    @media (max-width: 767px){
        width: 100%;
        border-right: 0;
        border-bottom: 1px solid #ddd;
        padding-bottom: 16px;
        margin-bottom: 16px;
    }
}
.modal-row-right{
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 48px;
    @media (max-width: 767px) {
        width: 100%;
        padding-left: 0;
    }
}
.item-img{
    object-fit: cover;
    height: 338px;
    width: 280px;
    @media (max-width: 767px) {
        display: block;
        margin: 0 auto;
        height: 180px;
    }
}
.radio-label{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: relative;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    padding: 0 14px;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 12px;
    box-sizing: border-box;
    &:first-child{
        margin-top: auto;
    }
    &:last-child{
        margin-bottom: auto;
    }
    &.mod-delivery{
        padding-top: 12px;
        padding-bottom: 12px;
        height: auto;
        align-items: flex-start;
    }
}
.radio{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    &:checked{
        &~.radio-icon{
            &:after{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: url(../img/svg/check.svg) center center no-repeat;
                z-index: 1;
            }
            &:before{
                content: '';
                width: 10000%;
                height: 10000%;
                left: -15px;
                top: -13px;
                position: absolute;
                background-color: #ddd;
                z-index: 1;
            }
        }
    }
}
.radio-icon{
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    margin-right: 17px;
    position: relative;
}
.radio-color{
    margin-left: auto;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2;
}
.radio-text{
    font-family: $SansPro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #000000;
    position: relative;
    z-index: 2;
}
.delivery-img{
    display: block;
    margin-top: 9px;
    position: relative;
    z-index: 2;
}
.modal-subname{
    font-family: $MMTextProWebTT;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.114286px;
    color: #1F1D1D;
    margin-bottom: 32px;
}
.progress{
    position: relative;
    width: 100%;
    height: 24px;
    background: #3E3E3E;
    padding: 2px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.progress-logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.progress-bar{
    height: 20px;
    width: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.373006) 0%, rgba(254, 254, 254, 0.0001) 100%), #DF0100;
    border: 1px solid #8E0403;
    box-sizing: border-box;
    transition: 3s;
    &.active{
        width: 100%;
    }
}
.checked-list{
    width: 230px;
    margin: 0 auto;
}
.checked-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: $SansPro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #000000;
    margin-bottom: 10px;
    svg{
        margin-right: 12px;
    }
    &:last-child{
        margin-bottom: 0;
    }
}
.modal-last-text{
    font-family: $MMTextProWebTT;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.114286px;
    color: #1F1D1D;
    margin-bottom: 33px;
}
.ouro {
    position: relative;
    display:inline-block;
    height: 46px;
    width: 46px;
    margin: 1em;
    border-radius: 50%;  
    background: none repeat scroll 0 0 #DDDDDD;
    overflow:hidden;
    box-shadow: 0 0 10px rgba(0,0,0,.1) inset, 0 0 25px rgba(0,0,255,0.075);
}

.ouro:after {
    content: "";
    position: absolute;
    top: 9px; left: 9px;
    display: block;
    height: 28px; width: 28px;
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.ouro > span {
    position: absolute;
    height: 100%; width: 50%;
    overflow: hidden;
}
.left  { left:0   }
.right { left:50% }

.anim {
    position: absolute;
    left: 100%; top: 0;
    height: 100%; width: 100%;
    border-radius: 999px;
    background: none repeat scroll 0 0 #d9222a;
    opacity: 0.8;
    -webkit-animation: ui-spinner-rotate-left 3s infinite;
    animation: ui-spinner-rotate-left 3s infinite;
    -webkit-transform-origin: 0 50% 0;
    transform-origin: 0 50% 0;
}
.left .anim {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.right .anim {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    left: -100%;
    -webkit-transform-origin: 100% 50% 0;
    transform-origin: 100% 50% 0;
}
.ouro3 .anim {
    -webkit-animation-delay: 0s;
    -webkit-animation-duration:3s;
    -webkit-animation-timing-function: linear;
    animation-delay: 0s;
    animation-duration:3s;
    animation-timing-function: linear;
}
.ouro3 .right .anim{
    -webkit-animation-name: ui-spinner-rotate-right;
    -webkit-animation-delay:0;
    -webkit-animation-delay: 1.5s;
    animation-name: ui-spinner-rotate-right;
    animation-delay:0;
    animation-delay: 1.5s;
}
.round .ouro:after {display:none }
@keyframes ui-spinner-rotate-right{
    0%{transform:rotate(0deg)}
    25%{transform:rotate(180deg)}
    50%{transform:rotate(180deg)}
    75%{transform:rotate(360deg)}
    100%{transform:rotate(360deg)}
  }
  @keyframes ui-spinner-rotate-left{
    0%{transform:rotate(0deg)}
    25%{transform:rotate(0deg)}
    50%{transform:rotate(180deg)}
    75%{transform:rotate(180deg)}
    100%{transform:rotate(360deg)}
  }
  
  @-webkit-keyframes ui-spinner-rotate-right{
    0%{-webkit-transform:rotate(0deg)}
    25%{-webkit-transform:rotate(180deg)}
    50%{-webkit-transform:rotate(180deg)}
    75%{-webkit-transform:rotate(360deg)}
    100%{-webkit-transform:rotate(360deg)}
  }
  @-webkit-keyframes ui-spinner-rotate-left{
    0%{-webkit-transform:rotate(0deg)}
    25%{-webkit-transform:rotate(0deg)}
    50%{-webkit-transform:rotate(180deg)}
    75%{-webkit-transform:rotate(180deg)}
    100%{-webkit-transform:rotate(360deg)}
  }

.loader{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: none;
    &.active{
        display: flex;
    }
}