<header id="header" class="wrapper header">
    <div class="container">
        <div class="header-top">
            <button type="button" class="call-menu">
                <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 1C0 0.447715 0.447715 0 1 0H13C13.5523 0 14 0.447715 14 1C14 1.55228 13.5523 2 13 2H1C0.447716 2 0 1.55228 0 1ZM0 6C0 5.44772 0.447715 5 1 5H13C13.5523 5 14 5.44772 14 6C14 6.55228 13.5523 7 13 7H1C0.447716 7 0 6.55228 0 6ZM1 10C0.447715 10 0 10.4477 0 11C0 11.5523 0.447716 12 1 12H13C13.5523 12 14 11.5523 14 11C14 10.4477 13.5523 10 13 10H1Z" fill="#272727"/>
                </svg>
            </button>
            <a href="#" class="logo-link">
                <img class="logo" src="assets/img/svg/logo.svg" alt="">
            </a>
            <button class="call-search">
                <svg width="12" height="13" viewBox="0 0 12 13" fill="#000" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.3906 11.2148L8.00391 7.96875C8.03516 7.92969 8.05469 7.90625 8.0625 7.89844C8.07031 7.88281 8.07422 7.85547 8.07422 7.81641C8.33984 7.44141 8.54297 7.04297 8.68359 6.62109C8.83203 6.19922 8.90625 5.74219 8.90625 5.25C8.90625 4.63281 8.78516 4.05469 8.54297 3.51562C8.30859 2.96875 7.98828 2.49609 7.58203 2.09766C7.17578 1.69141 6.70312 1.375 6.16406 1.14844C5.625 0.914062 5.05469 0.796875 4.45312 0.796875C3.85156 0.796875 3.28125 0.914062 2.74219 1.14844C2.20312 1.375 1.73047 1.69141 1.32422 2.09766C0.917969 2.49609 0.59375 2.96875 0.351562 3.51562C0.117188 4.05469 0 4.63281 0 5.25C0 5.875 0.113281 6.46094 0.339844 7.00781C0.574219 7.54688 0.890625 8.01562 1.28906 8.41406C1.69531 8.8125 2.16797 9.12891 2.70703 9.36328C3.24609 9.58984 3.82812 9.70312 4.45312 9.70312C4.82812 9.70312 5.19922 9.65234 5.56641 9.55078C5.93359 9.44922 6.26562 9.32422 6.5625 9.17578L9.96094 12.6445C10.0781 12.7617 10.2031 12.8203 10.3359 12.8203C10.4766 12.8203 10.6055 12.7617 10.7227 12.6445L11.4727 11.8945C11.5508 11.8164 11.5859 11.7031 11.5781 11.5547C11.5703 11.4062 11.5078 11.293 11.3906 11.2148ZM1.35938 5.25C1.35938 4.82031 1.44141 4.41797 1.60547 4.04297C1.77734 3.66016 2.00391 3.33203 2.28516 3.05859C2.56641 2.77734 2.89453 2.55859 3.26953 2.40234C3.64453 2.23828 4.03906 2.15625 4.45312 2.15625C4.86719 2.15625 5.26172 2.23828 5.63672 2.40234C6.01172 2.55859 6.33984 2.77734 6.62109 3.05859C6.90234 3.33203 7.125 3.66016 7.28906 4.04297C7.46094 4.41797 7.54688 4.82031 7.54688 5.25C7.54688 5.6875 7.46484 6.09375 7.30078 6.46875C7.14453 6.84375 6.92578 7.17188 6.64453 7.45312C6.37109 7.72656 6.04688 7.94531 5.67188 8.10938C5.29688 8.26562 4.89062 8.34375 4.45312 8.34375C4.01562 8.34375 3.60938 8.26562 3.23438 8.10938C2.85938 7.94531 2.53125 7.72656 2.25 7.45312C1.97656 7.17188 1.75781 6.84375 1.59375 6.46875C1.4375 6.09375 1.35938 5.6875 1.35938 5.25Z" fill="white"/>
                </svg>
            </button>
            <form action="#" class="search-form">
                <input type="text" class="search-input" placeholder="Was suchen Sie?">
                <button type="submit" class="search-sbm">
                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.3906 11.2148L8.00391 7.96875C8.03516 7.92969 8.05469 7.90625 8.0625 7.89844C8.07031 7.88281 8.07422 7.85547 8.07422 7.81641C8.33984 7.44141 8.54297 7.04297 8.68359 6.62109C8.83203 6.19922 8.90625 5.74219 8.90625 5.25C8.90625 4.63281 8.78516 4.05469 8.54297 3.51562C8.30859 2.96875 7.98828 2.49609 7.58203 2.09766C7.17578 1.69141 6.70312 1.375 6.16406 1.14844C5.625 0.914062 5.05469 0.796875 4.45312 0.796875C3.85156 0.796875 3.28125 0.914062 2.74219 1.14844C2.20312 1.375 1.73047 1.69141 1.32422 2.09766C0.917969 2.49609 0.59375 2.96875 0.351562 3.51562C0.117188 4.05469 0 4.63281 0 5.25C0 5.875 0.113281 6.46094 0.339844 7.00781C0.574219 7.54688 0.890625 8.01562 1.28906 8.41406C1.69531 8.8125 2.16797 9.12891 2.70703 9.36328C3.24609 9.58984 3.82812 9.70312 4.45312 9.70312C4.82812 9.70312 5.19922 9.65234 5.56641 9.55078C5.93359 9.44922 6.26562 9.32422 6.5625 9.17578L9.96094 12.6445C10.0781 12.7617 10.2031 12.8203 10.3359 12.8203C10.4766 12.8203 10.6055 12.7617 10.7227 12.6445L11.4727 11.8945C11.5508 11.8164 11.5859 11.7031 11.5781 11.5547C11.5703 11.4062 11.5078 11.293 11.3906 11.2148ZM1.35938 5.25C1.35938 4.82031 1.44141 4.41797 1.60547 4.04297C1.77734 3.66016 2.00391 3.33203 2.28516 3.05859C2.56641 2.77734 2.89453 2.55859 3.26953 2.40234C3.64453 2.23828 4.03906 2.15625 4.45312 2.15625C4.86719 2.15625 5.26172 2.23828 5.63672 2.40234C6.01172 2.55859 6.33984 2.77734 6.62109 3.05859C6.90234 3.33203 7.125 3.66016 7.28906 4.04297C7.46094 4.41797 7.54688 4.82031 7.54688 5.25C7.54688 5.6875 7.46484 6.09375 7.30078 6.46875C7.14453 6.84375 6.92578 7.17188 6.64453 7.45312C6.37109 7.72656 6.04688 7.94531 5.67188 8.10938C5.29688 8.26562 4.89062 8.34375 4.45312 8.34375C4.01562 8.34375 3.60938 8.26562 3.23438 8.10938C2.85938 7.94531 2.53125 7.72656 2.25 7.45312C1.97656 7.17188 1.75781 6.84375 1.59375 6.46875C1.4375 6.09375 1.35938 5.6875 1.35938 5.25Z" fill="white"/>
                    </svg>
                </button>
            </form>
            <div class="dropdown">
                <div class="dropdown-selected">
                    <svg class="user" width="11" height="14" viewBox="0 0 11 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.35998 6.84692C6.91654 6.84692 8.1785 5.3142 8.1785 3.42348C8.1785 1.53272 7.76418 0 5.35998 0C2.95578 0 2.54138 1.53272 2.54138 3.42348C2.54138 5.3142 3.80334 6.84692 5.35998 6.84692Z" fill="black"/>
                        <path d="M0.0668061 12.1149C0.0656061 11.9203 0.0644061 12.0601 0.0668061 12.1149V12.1149Z" fill="black"/>
                        <path d="M10.7128 12.164C10.7166 12.1325 10.7141 11.9451 10.7128 12.164V12.164Z" fill="black"/>
                        <path d="M10.6775 11.9359C10.6253 8.64222 10.1951 7.7037 6.90338 7.10962C6.90338 7.10962 6.44002 7.70006 5.36002 7.70006C4.28002 7.70006 3.81658 7.10962 3.81658 7.10962C0.560777 7.69722 0.104457 8.62182 0.044457 11.8289C0.039537 12.0908 0.037257 12.1045 0.036377 12.0741C0.036577 12.1311 0.036817 12.2365 0.036817 12.4202C0.036817 12.4202 0.820497 14 5.36002 14C9.89946 14 10.6832 12.4202 10.6832 12.4202C10.6832 12.3021 10.6833 12.2201 10.6834 12.1642C10.6825 12.183 10.6808 12.1466 10.6775 11.9359Z" fill="black"/>
                    </svg>
                    <p class="dropdown-text">Mein Konto</p>
                </div>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-menu-item">Text</a>
                    <a href="#" class="dropdown-menu-item">Text</a>
                    <a href="#" class="dropdown-menu-item">Text</a>
                </div>
            </div>
            <a href="#" class="cart">
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.89844 3.0625H1.94141L1.66797 2.65234C1.76823 2.5612 1.8457 2.45638 1.90039 2.33789C1.95508 2.21029 1.98242 2.07357 1.98242 1.92773C1.98242 1.6543 1.88672 1.42188 1.69531 1.23047C1.50391 1.02995 1.27148 0.929688 0.998047 0.929688C0.724609 0.929688 0.48763 1.02995 0.287109 1.23047C0.0957031 1.42188 0 1.6543 0 1.92773C0 2.20117 0.0957031 2.43815 0.287109 2.63867C0.48763 2.83008 0.724609 2.92578 0.998047 2.92578C1.04362 2.92578 1.08464 2.92122 1.12109 2.91211C1.15755 2.90299 1.19857 2.89388 1.24414 2.88477L1.47656 3.5L2.06445 9.70703L3.13086 10.459L2.625 11.9629L2.26953 11.9766C1.93229 12.0495 1.64974 12.2227 1.42188 12.4961C1.19401 12.7604 1.08008 13.0749 1.08008 13.4395C1.08008 13.8496 1.22591 14.2005 1.51758 14.4922C1.80924 14.7839 2.16016 14.9297 2.57031 14.9297C2.88932 14.9297 3.17643 14.834 3.43164 14.6426C3.68685 14.4603 3.86914 14.2233 3.97852 13.9316H11.1016C11.2018 14.2233 11.3796 14.4603 11.6348 14.6426C11.89 14.834 12.1771 14.9297 12.4961 14.9297C12.9154 14.9297 13.2663 14.7839 13.5488 14.4922C13.8405 14.2005 13.9863 13.8496 13.9863 13.4395C13.9863 13.0293 13.8405 12.6784 13.5488 12.3867C13.2663 12.0951 12.9154 11.9492 12.4961 11.9492C12.1771 11.9492 11.8854 12.0449 11.6211 12.2363C11.3659 12.4277 11.1927 12.6693 11.1016 12.9609L3.97852 12.9473C3.91471 12.765 3.81901 12.6055 3.69141 12.4688C3.57292 12.332 3.43164 12.2181 3.26758 12.127C3.39518 11.6712 3.60026 11.2975 3.88281 11.0059C4.16536 10.7051 4.30664 10.5547 4.30664 10.5547L14.0547 10.0898L14.8613 9.02344L14.9297 4.99023L2.89844 3.0625Z" fill="white"/>
                </svg>
                <span>Warenkorb</span>
            </a>
        </div>
        <div class="header-bottom">
            <div class="steps-btns-row">
                <button type="button" class="step-btn active">Step #1</button>
                <button type="button" class="step-btn disabled">Step #2</button>
                <button type="button" class="step-btn disabled">Step #3</button>
                <button type="button" class="step-btn disabled">Step #4</button>
                <button type="button" class="step-btn disabled">Step #5</button>
                <button type="button" class="step-btn disabled">Step #6</button>
            </div>
            <ul class="header-menu">
                <button class="close-menu">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 47.971 47.971" style="enable-background:new 0 0 47.971 47.971;" xml:space="preserve">
                       <path d="M28.228,23.986L47.092,5.122c1.172-1.171,1.172-3.071,0-4.242c-1.172-1.172-3.07-1.172-4.242,0L23.986,19.744L5.121,0.88
                           c-1.172-1.172-3.07-1.172-4.242,0c-1.172,1.171-1.172,3.071,0,4.242l18.865,18.864L0.879,42.85c-1.172,1.171-1.172,3.071,0,4.242
                           C1.465,47.677,2.233,47.97,3,47.97s1.535-0.293,2.121-0.879l18.865-18.864L42.85,47.091c0.586,0.586,1.354,0.879,2.121,0.879
                           s1.535-0.293,2.121-0.879c1.172-1.171,1.172-3.071,0-4.242L28.228,23.986z"/>
                   </svg>
                </button>
                <li class="header-menu-item">
                    <a href="#" class="header-menu-link">Fotoservice</a>
                </li>
                <li class="header-menu-item">
                    <a href="#" class="header-menu-link">
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 11.1315L3.29772 14.4721L5.02176 8.96769L0.391548 5.52786L6.15934 5.46655L8 0L9.84066 5.46655L15.6085 5.52786L10.9782 8.96769L12.7023 14.4721L8 11.1315Z" fill="black"/>
                        </svg>
                        Club
                    </a>
                </li>
                <li class="header-menu-item">
                    <a href="#" class="header-menu-link">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.0475 3.48256C12.4222 2.41128 11.574 1.56309 10.5027 0.937809C9.43122 0.31256 8.26153 0 6.99276 0C5.72412 0 4.55408 0.31256 3.48278 0.937809C2.41141 1.56299 1.56322 2.41119 0.937904 3.48256C0.31256 4.55399 0 5.72402 0 6.99257C0 8.26118 0.312656 9.43103 0.937809 10.5025C1.56309 11.5738 2.41128 12.422 3.48265 13.0473C4.55408 13.6725 5.72402 13.9851 6.99263 13.9851C8.26124 13.9851 9.43131 13.6725 10.5027 13.0473C11.574 12.4222 12.4221 11.5738 13.0474 10.5025C13.6725 9.43112 13.9851 8.26112 13.9851 6.99257C13.9851 5.7239 13.6725 4.55383 13.0475 3.48256ZM5.82728 1.74802C5.82728 1.663 5.85455 1.59326 5.90924 1.53866C5.96384 1.4841 6.03371 1.4567 6.11867 1.4567H7.86692C7.95181 1.4567 8.02168 1.4841 8.07615 1.53866C8.13072 1.59326 8.15821 1.663 8.15821 1.74802V3.20485C8.15821 3.28981 8.13072 3.35965 8.07615 3.41418C8.02168 3.46878 7.95184 3.49608 7.86692 3.49608H6.11867C6.03371 3.49608 5.96387 3.46878 5.90924 3.41418C5.85455 3.35968 5.82728 3.28981 5.82728 3.20485V1.74802ZM9.24156 11.5722C9.29599 11.5177 9.32351 11.4478 9.32352 11.363H9.32339V9.9061C9.32339 9.82108 9.2959 9.75127 9.24156 9.69667C9.187 9.64211 9.11716 9.61484 9.03204 9.61484H8.15821V4.9531C8.15821 4.86808 8.13072 4.79833 8.07615 4.74367C8.02168 4.68904 7.95181 4.66178 7.86692 4.66178H4.95316C4.86827 4.66178 4.79843 4.68904 4.74374 4.74367C4.68914 4.79833 4.66184 4.86808 4.66184 4.9531V6.40983C4.66184 6.49485 4.68914 6.56469 4.74374 6.61926C4.7984 6.67389 4.86811 6.70115 4.95316 6.70115H5.82728V9.61462H4.95316C4.86821 9.61462 4.79836 9.64211 4.74374 9.69658C4.68914 9.75124 4.66184 9.82086 4.66184 9.906V11.3628C4.66184 11.4479 4.68914 11.5177 4.74374 11.5722C4.79836 11.6268 4.86811 11.6541 4.95316 11.6541H9.03226C9.11735 11.6541 9.18722 11.6268 9.24156 11.5722Z" fill="black"/>
                        </svg>
                        Hilfe
                    </a>
                </li>
                <li class="header-menu-item">
                    <a href="#" class="header-menu-link mod-dropdown">
                        Mein Markt
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>