// header
//-----------------------------------------------------------------------------------

.header{
    background-color: #fff;
}
.logo{
    @media (max-width: 991px) {
        width: 160px;
    }
    @media (max-width: 767px){
        width: 90px;
    }
}
.logo-link{
    @media (max-width: 767px) {
        display: flex;
    }
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 11px;
    @media (max-width: 767px) {
        padding-top: 8px;
    }
}
.search-form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    margin-right: 14px;
    width: calc(100% - 239px - 43px - 14px - 158px - 13px - 132px);
    @media (max-width: 991px){
        width: calc(100% - 250px);
    }
    @media (max-width: 767px) {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 2;
        display: none;
        &.active{
            display: flex;
        }
    }
}
.search-input{
    width: calc(100% - 46px);
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 3px 0 0 3px;
    text-indent: 22px;
    height: 40px;
    border-right: 0;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.114286px;
    color: #000;
    font-family: $MMTextProWebTT;
    box-shadow: inset 0px 2px 0px #E5E5E5;
}
.search-sbm{
    background: #DF0100;
    box-sizing: border-box;
    border-radius: 0px 3px 3px 0px;
    width: 46px;
    height: 40px;
}
.dropdown{
    margin-right: 13px;
    position: relative;
    @media (max-width: 767px) {
        margin-right: 24px;
    }
}
.dropdown-selected{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    width: 158px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 3px;
    padding-left: 21px;
    cursor: pointer;
    .user{
        margin-right: 17px;
    }
    &:before{
        content: '';
        position: absolute;
        background: url(../img/svg/arrow.svg) center center no-repeat;
        height: 8px;
        width: 14px;
        top: 50%;
        transform: translateY(-50%);
        right: 16px;
    }
    @media (max-width: 991px) {
        width: 15px;
        padding: 0;
        border: 0;
        height: 15px;
        .user{
            margin-right: 0;
            min-width: 15px;
            min-height: 15px;
        }
        &:before{
            @media (max-width: 991px){
                display: none;
            }
        }
    }
}
.dropdown-text{
    font-family: $MMTextProWebTT;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.114286px;
    color: #000000;
    @media (max-width: 991px){
        display: none;
    }
}
.dropdown-menu{
    position: absolute;
    left: 0;
    top: calc(100% - 3px);
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #DDDDDD;
    display: none;
    z-index: 2;
    &.show{
        display: flex;
    }
    @media (max-width: 991px) {
        min-width: 70px;
        left: auto;
        right: 0;
        top: calc(100% + 3px);
    }
}
.dropdown-menu-item{
    font-family: $MMTextProWebTT;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.114286px;
    color: #000000;
    margin-bottom: 10px;
    &:last-child{
        margin-bottom: 0;
    }
}
.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    box-shadow: inset 0px 2px 0px #4D4D4D;
    border-radius: 3px;
    height: 40px;
    width: 132px;
    &:hover{
        text-decoration: none;
    }
    span{
        font-family: $MMTextProWebTT;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.114286px;
        color: #FFFFFF;
        margin-left: 14px;
    }
    @media (max-width: 991px) {
        background: transparent;
        width: 15px;
        height: 15px;
        border: 0;
        box-shadow: none;
        span{
            font-size: 0;
            display: none;
        }
        svg{
            fill: #000;
            stroke: #000;
            min-width: 15px;
            min-height: 15px;
            path{
                fill: #000;
            }
        }
    }
}
.header-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 11px;
}
.steps-btns-row{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.step-btn{
    font-family: $MMTextProWebTT;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.114286px;
    color: #000000;
    padding: 12px 14px;
    border-radius: 3px 3px 0px 0px;
    transition: 0.3s;
    &.active{
        color: #fff;
        background: #000000;
    }
    &.disabled{
        pointer-events: none;
        cursor: default;
    }
    &.off{
        pointer-events: none;
    }
    @media (max-width: 767px) {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.1px;
        padding: 4px 7px;
    }
}
.header-menu-link{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $MMTextProWebTT;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.114286px;
    color: #000000;
    position: relative;
    svg{
        margin-right: 7px;
    }
    &:hover{
        text-decoration: none;
    }
    &.mod-dropdown{
        padding-right: 18px;
        &:before{
            content: '';
            position: absolute;
            background: url(../img/svg/arrow.svg) center center no-repeat;
            height: 8px;
            width: 14px;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
        }
    }
}
.header-menu-item{
    margin-right: 20px;
    &:last-child{
        margin-right: 0;
    }
    @media (max-width: 991px){
        margin-right: 0;
        margin-bottom: 20px;
    }
}
.header-menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @media (max-width: 991px) {
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        background-color: #fff;
        z-index: 100;
        width: 300px;
        height: 100vh;
        box-sizing: border-box;
        padding: 20px;
        transition: 0.3s;
        transform: translateX(-100%);
        &.active{
            transform: translateX(0);
        }
    }
}
.call-menu{
    display: none;
    @media(max-width: 991px) {
        display: flex;
        margin-right: 7px;
    }
}
.close-menu{
    display: none;
    @media (max-width: 991px) {
        display: flex;
        position: absolute;
        top: 15px;
        right: 15px;
        width: 14px;
        height: 14px;
        svg{
            width: 14px;
            height: 14px;
        }
    }
}
.call-search{
    display: none;
    @media (max-width: 767px) {
        display: block;
        margin-left: auto;
        margin-right: 24px;
        svg{
            path{
                fill: #000;
            }
        }
    }
}